<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style/style.css"/>
    <title>Add new todo</title>
</head>
<body>
<div id="page">
    <div id="page-body">
        <h1>Add new todo</h1>
        <form action="#" th:action="@{/todo/add}" th:object="${todo}" th:method="post">
            <input type="text" th:field="*{title}">
            <button type="submit">Add todo</button>
        </form>
    </div>
</div>
</body>
</html>