<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Check student</title>
</head>
<body>
<div id="page">
    <div id="page-body">
        <p><a th:href="@{/gfa}">Back to main page</a></p>
        <ul>
            <li th:each="student : ${studentlist}"
                th:text="${student}"></li>
        </ul>
        <form action="#" th:action="@{/gfa/check}" th:method="get">
            <input type="text" name="name" placeholder="Name">
            <button type="submit">Check student</button>
        </form>

        <p th:text="${isPresent} ? 'Student already in the databasse' : 'Student not in the database'"
        th:style="${isPresent} ? 'color: green' : 'color: red'"></p>
    </div>
</div>
</body>
</html>