<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>List of student</title>
</head>
<body>
<div id="page">
    <div id="page-body">
        <ul>
            <li th:each="student : ${studentlist}"
                th:text="${student}"></li>
        </ul>

        <form action="#" th:action="@{/gfa/add}" th:method="get">
            <input type="text" name="name" placeholder="Name">
            <button type="submit">Add student</button>
        </form>
    </div>
</div>
</body>
</html>