<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Basic Webshop</title>
</head>
<body>
<div id="page">
    <div id="pageBody">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Animal type</th>
                <th>Index in list</th>
                <th>Is king</th>
                <th>Good or bad guy?</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="bankAccount : ${bankAccounts}">
                <tr>
                    <td th:text="${bankAccount.name}">Account holder name</td>
                    <td th:text="${bankAccount.balance}">Balance</td>
                    <td th:text="${bankAccount.animalType}">Account holder's animal type</td>
                    <td th:text="${bankAccountStat.index}">Index in list</td>
                    <!--<td th:text="${bankAccount.getKingStatus()} ? 'King' : ''">King or not</td>-->
                    <!-- OR -->
                    <td>
                        <span th:if="${bankAccount.getKingStatus()}">King</span>
                    </td>
                    <td th:switch="${bankAccount.getGoodCharacterStatus()}">
                        <span th:case="true">Good guy</span>
                        <span th:case="false">Bad guy</span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>