<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Basic Webshop</title>
</head>
<body>
<div id="page">
    <div id="pageBody">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Animal type</th>
                <th>Index in list</th>
                <th>Is king</th>
                <th>Good or bad guy?</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="bankAccount : ${bankAccounts}">
                    <tr th:class="${bankAccount.getKingStatus()} ? 'king'">
                        <td th:text="${bankAccount.name}">Account holder name</td>
                        <td th:text="${bankAccount.balance}">Balance</td>
                        <td th:text="${bankAccount.animalType}">Account holder's animal type</td>
                        <td th:text="${bankAccountStat.index}">Index in list</td>
                        <td>
                            <span th:if="${bankAccount.getKingStatus()}">King</span>
                        </td>
                        <td th:text="${bankAccount.getGoodCharacterStatus()} ? 'Good guy' : 'Bad guy'"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <form action="#" th:action="@{/raise}" th:method="post">
            <label for="account-select">Choose animal to raise balance for:</label>
            <select id="account-select" th:name="index">
                <option th:each="bankAccount:${bankAccounts}"
                        th:text="${bankAccount.name}"
                        th:value="${bankAccountStat.index}"></option>
            </select>
            <button type="submit">Raise</button>
        </form>
    </div>
</div>
</body>
</html>