/* Open Sans */
@font-face { font-family: "Open Sans"; font-style: normal; font-weight: normal; src: url('./fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: "Open Sans"; font-style: normal; font-weight: bold; src: url('./fonts/OpenSans-Semibold.ttf'); }

#page {
    width: 70%;
    margin: auto;
    font-family: "Open Sans";
    padding: 10px;
}

#header{
    margin-bottom: 2em;
}

#header-title {
    font-weight: bold;
    color: #01bcd4;
    padding: 0;
    border-bottom: 1px solid #01bcd4;
    font-size: 2.5em;
}

nav {
    padding: 0;
    margin-top: 1em;
}

#nav-bar {
    overflow: hidden;
    width: 100%;
}

#nav-bar ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #f44336;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    padding: 3px 10px;
}

#nav-bar > ul > li {
    display: inline-block;
    width: auto;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

.button a {
    text-align: center;
    padding: 5px 10px;
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 0.8em;
    color: white;
}

label{
    display: block;
    margin-top: 1.5em;
}

input[type="search"]{
    height: 2.5em;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.searchBar, .searchButton {
    display: inline-block;
}

.searchBar {
    width: 100%;
    margin-right: 1em;
}

.searchButton {
    border: none;
    height: 2.5em;
    width: 5em;
    vertical-align: top;
}

#pageBody {
    margin-top: 2em;
}

table {
    border: 1px solid transparent;
    border-collapse: collapse;
    margin: auto;
    margin-top: 2em;
    width: 100%;
}

th {
    background-color: #62efff;
    border-right: 1px solid white;
    padding: 1em;
}

th:nth-child(2){
    width: 40%;
}

th:last-child {
    border: 1px solid transparent;
}

td {
    padding: 1em 0.5em;
    font-size: 1em;
}

td:nth-child(2){
    font-size: 0.8em;
}

td:nth-child(n+3){
    font-size: 1.2em;
    text-align: center;
}

td:nth-child(3):after{
    content: " Ft";
}
