<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Index</title>
</head>
<body>
<div id="page">
    <div id="page-body">
        <ul>
            <li><a href="#">Information</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <img src="/images/greenfox.png" alt="Image of a green fox"/>

        <p th:if="${fox} != null" th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.favouriteFood} + ' and '
        + ${fox.favouriteDrink} + '. He knows ' + ${fox.getNumberOfTricks()} + ' tricks.'"></p>

        <h1>Known tricks</h1>

        <ul th:if="${fox.getNumberOfTricks() != 0}">
            <li th:each="trick: ${fox.getListOfTricks()}"
                th:text="${trick.toString()}"></li>
        </ul>

        <p th:if="${fox.getNumberOfTricks() == 0}"
            th:text="'You know no tricks yet. Go and learn some'"></p>
    </div>
</div>
</body>
</html>