<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Index</title>
</head>
<body>
<div id="page">
    <div id="page-header">
        <nav>
            <ul>
                <li><a href="#">Information</a></li>
            </ul>
        </nav>
    </div>
    <div id="page-body">
        <img src="/images/greenfox.png"/>
        <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 trick.</p>

        <h1>Known tricks</h1>
        <ul>
            <li>write HTML</li>
            <li>code in Java</li>
        </ul>
    </div>
</div>
</body>
</html>