<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style/style.css"/>
    <title>Basic Webshop</title>
</head>
<body>
<div id="page">
    <div id="header">
        <p id="header-title">My Shop</p>
        <nav id="nav-bar">
            <ul>
                <li class="button"><a href="/only-available">Only available</a></li>
                <li class="button"><a href="/cheapest-first">Cheapest first</a></li>
                <li class="button"><a href="/contains-nike">Contains nike</a></li>
                <li class="button"><a href="/average-stock">Average Stock</a></li>
                <li class="button"><a href="/most-expensive">Most expensive available</a></li>
            </ul>
        </nav>

        <label for="searchBar" class="searchLabel">Search for:</label>
        <form class="searchForm" method="post" action="/search">
            <input type="text" name="keyword" placeholder="Search..." id="searchBar">
            <button type="submit" class="searchButton button">Search</button>
        </form>

    </div>
    <div id="pageBody">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity<br/> of stock</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="shopItem : ${shopItems}">
                <tr>
                    <td th:text="${shopItem.getName()}">Shop item name</td>
                    <td th:text="${shopItem.getDescription()}">Shop item description</td>
                    <td th:text="${shopItem.getPrice()}">Shop item price</td>
                    <td th:text="${shopItem.getQuantityOfStock()}">Shop item quantity</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>